body {
	background: azure;
	width: 800px;
	margin: auto;
	overflow: auto;
}

p.first {
	color: black;
	border: 1px solid grey;
	padding: 15px;
}

p.second {
	color: black;
	border: 1px solid #050515;
	padding: 15px;
}

nav.nav1{
	width: 200px;
	float: left;
}

nav.nav2{
	width: 200px;
	float: left;
}

